

@{
    ViewBag.Title = "Index";
}

<style>
    .center {
        margin: auto;
        width: 80%;
    }
</style>
<div class="center">
    <h2>Bun venit pe platforma E-Learning </h2>
</div>
    <img src="/img/p3.jpg" id="landPic"><p>

    </p>

