<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
  <connectionStrings>
    <add name="TeamB"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=ASUS-LAPTOP;Initial Catalog=TeamB;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpEmailAddress" value="educationplatform11@gmail.com"/>
    <add key="SmtpEmailPassword" value="schoolplatform"/>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
</configuration>
