@* Error message page *@
@{
    ViewBag.Title = "ErrorRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>A aparut o exceptie</h1>
        <h2>Numele de utilizator sau emailul nu exista in baza de date, va rugam introduceti alt nume de utilizator sau email</h2>
    </hgroup>
</body>
</html>

